body{
    background-color: aqua;
}
header{
    background-color: azure;
    padding: 9px;
}
li{
    display:inline-block;
    padding: 6px;
}
.blogs{
    width: 20%;
    height: 300px;
    background-color: white;
    border-radius: 12px;
    display: inline-block;
    float: left;
    margin: 15px;
    padding: 10px;
}
.courses{
    width: 27%;
    height: 350px;
    background-color: white;
    border-radius: 12px;
    display: inline-block;
    float: left;
    margin: 15px;
    padding: 10px;
}